---
layout: default
---
<section class="homepage section-padding">
  <div class="grid">
      <img src="/assets/images/RoyalMusic.jpg" alt="The Royal Music Tour"/>
      <div id="markdown" itemprop="articleBody">
        <p> 
          We’re a janky DJ duo in a converted Royal Mail van.
        </p>
        <p>
          Our mission is to deliver great vibes across Europe. We’ve delivered the after party for Pete the Monkey festival, helped launch papago 2020 in Paris and partied at the inaugeral cliff-top rave at an undisclosed location in Spain.
        </p>
      </div>
      <br>
      <div>
      <iframe width="100%" height="20" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/687638347&color=%23db111e&auto_play=false&hide_related=false&show_comments=false&show_user=true&show_reposts=false&show_teaser=true"></iframe>
      <br>
      <iframe width="100%" height="20" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/725710906&color=%23db111e&auto_play=false&hide_related=false&show_comments=false&show_user=true&show_reposts=false&show_teaser=false"></iframe>
    </div>
  </div>
</section>

<section class="related section-padding">
  <div class="grid-xlarge">
    <div class="related__container">
      {% for action in site.actions %}
        <article class="related__post">
          <a class="related__link" href="{{ action.url | absolute_url }}">
            {% if action.image %}
              <figure class="related__img">
                <img src="{{ action.image }}" alt="{{ action.title }}"/>
              </figure>
            {% endif %}
            <div>
              <h2 class="related__text">{{ action.title }}</h2>
            </div>
          </a>
        </article>
      {% endfor %}
    </div>
  </div>
</section>