---
layout: compress
---
<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-148903236-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());
		gtag('config', 'UA-148903236-1');
	</script>

  {% include head.html %}

</head>
<body>
  
  {% include header.html %}

  <main class="💈">
     {{content}}
  </main>
  
  {% include contact.html %}

  <script src="{{ '/assets/js/app.min.js' | prepend: site.baseurl }}"></script>
</body>
</html>
